.titulo{
    width: 100%;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 0px 0px 10px rgb(216, 147, 185);
}
.principal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;   
}
.card{
    box-shadow: 0px 3px 10px rgb(53, 3, 34);
    border-radius: 10px;
    width: 300px;
    height: auto;
    overflow: hidden;
    padding: 20px;
}